<div>
  <h1 class="text-2xl">Delete User</h1>
  <form
    class="border rounded border-gray-500 p-5 w-fit flex flex-col gap-2"
    hx-post="/delete-user"
  >
    <div class="grid grid-cols-2 gap-y-2">
      <label for="username" class="col-start-1">Username: </label>
      <input
        type="text"
        name="username"
        id="username"
        class="border border-slate-400 rounded"
        required
      />

      <label for="wo" class="col-start-1">WO: </label>
      <input
        type="text"
        name="wo"
        id="wo"
        class="border border-slate-400 rounded"
        required
      />
    </div>
    <label for="databases">Select the the following databases: </label>
    <select name="databases" id="databases" multiple>
      <option value="postgres">postgres</option>
      <option value="mysql">mysql</option>
    </select>
    <button type="submit" class="bg-blue-400 py-2 px-4 rounded">Submit</button>
  </form>
</div>
