{{template "head"}}
<div class="w-full h-screen grid justify-center content-center">
  <div id="sign-in"></div>
</div>
<script>
  window.addEventListener("load", async function () {
    await window.Clerk.load();

    const userButtonComponent = document.querySelector("#sign-in");
    // this does not work as I can still use the button by looking through the DOM
    window.Clerk.mountSignIn(userButtonComponent, {
      appearance: {
        elements: {
          footerAction: { display: "none" },
        },
      },
    });
  });
</script>

{{template "end"}}
