package components

import "github.com/ygorcarmo/db-platform/models"

templ Response(res models.Response) {
	if res.IsSuccess {
		<div class="border border-green-500 bg-green-300 w-fit p-2 rounded">
			{ res.Message }
		</div>
	} else {
		<div class="border border-red-500 bg-red-300 w-fit p-2 rounded">
			{ res.Message }
		</div>
	}
}
