package components

templ SettingSideBar() {
	<li>
		<a href="/" class="block">Home</a>
	</li>
	<li>
		<a href="/settings/dbs" class="block">Manage Database Connections</a>
	</li>
	<li>
		<a href="/settings/users" class="block">Manage Application Users</a>
	</li>
	<li><a href="/settings/logs" class="block">Logs</a></li>
}
