package home

import (
	"db-platform/models"
	"db-platform/views/layouts"
)

templ Index() {
	@layouts.Home() {
		<h1>Welcome back { ctx.Value(models.UserCtx).(*models.AppUser).Username }</h1>
	}
}
