@import "tailwindcss";

@layer components {
  .my-indicator > svg {
    display: none;
  }

  .htmx-request .my-indicator {
    background-color: lightslategray;
  }

  .htmx-request .my-indicator > svg {
    display: inline;
  }

  .htmx-request.my-indicator {
    background-color: lightslategray;
  }

  .htmx-request.my-indicator > svg {
    display: inline;
  }

  tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  button:disabled {
    background-color: grey;
    cursor: not-allowed; /* Optional: Change the cursor to indicate the button is not clickable */
  }
}
