{{ define "main"}}
<div class="p-3">
  <h1>Logs</h1>
  <div class="relative overflow-x-auto">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Username</th>
          <th scope="col" class="px-6 py-3">DB Name</th>
          <th scope="col" class="px-6 py-3">WO</th>
          <th scope="col" class="px-6 py-3">Created By</th>
          <th scope="col" class="px-6 py-3">Created At</th>
        </tr>
      </thead>
      <tbody>
        {{ range .}}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{.NewUser}}
          </td>
          <td class="px-6 py-4">{{.Database}}</td>
          <td class="px-6 py-4">{{.WO}}</td>
          <td class="px-6 py-4">
            {{.CreatedBy}}
          </td>
          <td class="px-6 py-4">
            {{.CreatedAt}}
          </td>
        </tr>
        {{
          end
        }}
      </tbody>
    </table>
  </div>

  {{ end }}
</div>
