{{define "user-buttom"}}
<div class="h-full bg-slate-300">
  <div id="user-button"></div>
</div>
<script>
  window.addEventListener("load", async function () {
    await window.Clerk.load();

    const userButtonComponent = document.getElementById("user-button");

    await window.Clerk.mountUserButton(userButtonComponent, {
      appearance: {
        elements: {
            rootBox:"ml-auto h-full mr-4",
          avatarBox: "h-[50px] w-[50px]",
         userButtonBox: "h-full",
        },
      },
    });
  });
</script>
{{end}}
