package externalDb

import (
	"db-platform/models"
	"db-platform/views/components"
	"db-platform/views/layouts"
)

templ DeleteUserPage(dbs []string) {
	@layouts.Home() {
		<h1 class="text-2xl text-red-500">Delete User</h1>
		@components.ExternalUserForm(dbs, models.Delete)
	}
}
