package externaldb

import (
	"github.com/ygorcarmo/db-platform/views/components"
	"github.com/ygorcarmo/db-platform/views/layouts"
)

templ DeleteUserPage(dbs []string) {
	@layouts.Home() {
		<h1 class="text-2xl text-red-500">Delete User</h1>
		@components.ExternalUserForm(dbs, false)
	}
}
