<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/output.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/assets/js/htmx.min.js"></script>
    <title>DB PLatform</title>
  </head>
  <body>
    {{ block "navbar" .}}
    <nav class="bg-slate-300">
      <ul class="flex justify-between p-6">
        <li>Logo</li>
        <a href="/settings/dbs" class="block">Settings</a>
      </ul>
    </nav>
    {{ end }}
    {{ block "body" . }}
    <main>
      <div class="grid grid-cols-[300px_auto] h-screen">
        {{ block "sideBar" . }}
        <div class="border-gray-600 border-r-2">
          <ul class="p-5 grid gap-3" hx-boost="true">
            <li>
              <a href="/" class="block">Home</a>
            </li>
            <li>
              <a href="/db/create-user" class="block">Create Database User</a>
            </li>
            <li>
              <a href="/db/delete-user" class="block">Delete Database User</a>
            </li>
            <li>
              <a href="/user/reset-password" class="block">Reset Password</a>
            </li>
          </ul>
        </div>
        {{ end }}
        <div class="grid grid-rows-[70px_auto]">
          <div class="h-full p-4">
            {{ block "main" .}}
            <h1 class="text-2xl">Sistema de cadastro de usuarios</h1>
            {{ end }}
          </div>
        </div>
      </div>
      <script src="https://unpkg.com/htmx.org/dist/ext/disable-element.js"></script>
    </main>
    {{ end }}
  </body>
</html>
